<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>helloworld</h1>
  <div class="hello"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    setTimeout(function() {
      $.ajax({
        url: '/api/hello',
        method: 'get',
        success: function(res) {
          console.log('success', res)
          $('.hello').text(res.hello)
        }
      })
    }, 3000)
  </script>
</body>
</html>
